In [1]:
Comment

blog.models.Comment

In [25]:
comment = Comment.objects.first()
comment.message

'야지'

In [20]:
from django.db import connection
connection.queries[-1]

{'sql': 'SELECT "blog_comment"."id", "blog_comment"."post_id", "blog_comment"."author", "blog_comment"."message", "blog_comment"."created_at", "blog_comment"."updated_at" FROM "blog_comment" ORDER BY "blog_comment"."id" ASC LIMIT 1',
 'time': '0.001'}

In [26]:
comment_set = Comment.objects.all()

for comment in comment_set:
    print(comment.post_id)

2004
2001

In [28]:
print(comment.post_id, comment.post) #댓글 내용이 아닌 포스트 제목을 가져왔음
Post.objects.get(id=comment.post_id)

2001 제목 #999

In [8]:
connection.queries[-1]

{'sql': 'SELECT "blog_post"."id", "blog_post"."author", "blog_post"."title", "blog_post"."content", "blog_post"."tags", "blog_post"."lnglat", "blog_post"."status", "blog_post"."created_at", "blog_post"."updated_at" FROM "blog_post" WHERE "blog_post"."id" = 2004',
 'time': '0.001'}

In [29]:
Profile

accounts.models.Profile

In [30]:
profile = Profile.objects.first()

In [31]:
connection.queries[-1]

{'sql': 'SELECT "accounts_profile"."id", "accounts_profile"."user_id", "accounts_profile"."phone_number", "accounts_profile"."address" FROM "accounts_profile" ORDER BY "accounts_profile"."id" ASC LIMIT 1',
 'time': '0.001'}

In [32]:
profile.user_id

1

In [34]:
profile.user

In [35]:
connection.queries[-1]

{'sql': 'SELECT "auth_user"."id", "auth_user"."password", "auth_user"."last_login", "auth_user"."is_superuser", "auth_user"."username", "auth_user"."first_name", "auth_user"."last_name", "auth_user"."email", "auth_user"."is_staff", "auth_user"."is_active", "auth_user"."date_joined" FROM "auth_user" WHERE "auth_user"."id" = 1',
 'time': '0.001'}

In [7]:
## related_name

In [11]:
post = Post.objects.first()
Comment.objects.create(post=post, author="이진석", message="댓글#3")

In [14]:
print(Comment.objects.filter(post=post)) # 방법 1
print(post.comment_set.all()) # 방법 2

<QuerySet [<Comment: Comment object>, <Comment: Comment object>, <Comment: Comment object>]>
<QuerySet [<Comment: Comment object>, <Comment: Comment object>, <Comment: Comment object>]>

In [5]:
comment = Comment.objects.first()
comment.post